#footer {
    background-color: #A8A8A8;
    padding: 30px;
    color: #434343;

    .logo {
        margin-bottom: 20px;

        h2 {
            font-size: 35px;
        }
    }

}

#footer h5 {
    font-weight: 600;
}

#footer ul.quick-links li{
    padding: 3px 0;
    margin-top: 5px;
}

#footer ul.quick-links li a{
    font-size: 12px;
    color:#434343;
    text-decoration: none;
    background-color: transparent;
}
