.navbar {
    padding: 15px;
}

.bg-gray {
    background-color: #f5f5f5;
}

.nav-item {
    margin-right: 20px;

    .nav-link {
        font-size: 14px;
    }

    .phone-number {
        font-size: 18px;
        font-weight: 600;
    }
}

.signup-btn {
    background-color: #c3bfbf;
    border-radius: 15px;
    padding: 0 10px 0 10px;
    color: #fff;
    a {
        color: #fff;
    }
}

.login-btn {
    margin-right: 0px;
}
