.price-box {
    align-items: normal;
    min-height: 73vh;
}

.pricing .card {
    border: 1px solid #000000;
    border-radius: 0 !important;
    height: 100%;
    position: relative;
}

.pricing .card-body {
    padding: 0;
}

.pricing .card-header {
    background-color: #c3bfbf;
    border-bottom: 1px solid #000000;
}

.pricing .card-description {
    margin-top: 15px;
    padding: 10px 20px 0 20px;
}

.pricing .card-description p {
    font-weight: 300;
    margin: 0;
}

.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: 400;
}

.pricing .card-price {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

.pricing .card-divider {
    padding: 25px;
}

.pricing .card-price .period {
    font-size: 0.8rem;
}

.pricing .fa-ul {
    margin-top: -15px;
}

.pricing ul li {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 1rem;
}

.pricing ul li i {
    font-size: 18px;
    margin-left: 5px;
}

.pricing .card-footer {
    background-color: transparent;
    border: none;
    margin-bottom: 25px;
    position: absolute;
    bottom: 0;
    margin-left: 4rem;
}
