/* Only demo */
.nav-header {
  padding-top: 0;
  padding-bottom: 0;

  .logo-element {
    display: block;
  }
}

.navbar-top-links {
  li {
    &:last-child {
      margin-right: 20px;
    }
  }
}

.col-form-label {
  .required {
    color: #ff0000;
  }
}

table {
  th,
  td {
    &.cell {
      &--is-active {
        width: 25px;
        text-align: center;
      }

      &--id {
        width: 50px;
      }

      &--thumbnail {
        width: 150px;
      }

      &--actions {
        width: 175px;
      }
    }
  }
}

.ck-editor__editable {
    min-height: 200px;
}

.select2-container {
  .select2-selection--single {
    height: 2.10rem;

    .select2-selection__rendered {
      line-height: 2.10rem;
    }

    .select2-selection__arrow {
      height: 2.10rem;
    }
  }
}

.custom-tabs {
  margin-bottom: 1rem;
}

.ibox-title {
  h5 {
    label {
      margin-bottom: 0;
      
      input {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }
}

.form-control {
  &[type="file"] {
    height: auto;
  }
}