$icon-font-path: "/fonts/glyphicons";
$fa-font-path: "/fonts/font-awesome";

@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome";
@import "~animate-scss/animate";


@import "modules/menu";
@import "modules/footer";
@import "modules/pricing";

.hero {
    background-color: #b2b2b2;
    padding: 65px;
}

.features {
    padding: 20px;
    color:  #434343;
}

.features h2 {
    color: #434343;
}

.features h5 {
    color: #434343;
}

.stats {
    padding: 45px;
    border: 1px solid #000000;
    color: #434343;
}

.leads {
    font-size: 45px;
    background-color: #b2b2b2;
}

.clients {
    border: 1px solid #000000;
}

.clients-image > img {
    width: 300px;
    height: 300px;
}

.clients_box {
    margin-left: 170px;
}

.clients_box-comment {
    font-weight: 400;
    width: 450px;
}
